/* generales */
body{
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.contenido{
  flex: 1;

}
.contenedor{
  /* 800 a 1024 */
  max-width: 1024px;
  margin: auto;

  /* border: 1px solid red; */
}
/* portada */
.portada{
  background-size: cover;
  padding: 5px;
  /* margin-bottom: 70px; */
  height: 1800px;
  background-image: url('../imagenes/fondo.jpg');
  background-size: cover;
}
.logotipo{
  border: 1px solid black;
  border-radius: 9px;
  transition: .3s;
}
.logotipo:hover{
  0%{

  }50%{
    transform: translateX(15px);
  }100%{
    transform: translateX(0px);
  }
}
/* menu de navegacion */
.menu{
  /* padding: 5px; */
  /* border: 2px solid red; */
  border-collapse: collapse;
  display: inline-block;
  right: 55px;
  position: absolute;
  /* position: fixed; */
}
.menu li{
  display: inline-block;

}
.menu a{
font-size: 20px;
font-family: 'Lora', serif;
text-decoration: none;
color: black;
margin: 0px 25px 0px 25px;
color: #f5f7f2;
font-weight: 600;
font-family: monospace;
text-shadow: 0 0 20px #dddddd;
}

/* contenido de portada   */
.divPrincipal{
    margin-top: 18%;
    border: 2px solid white;
    text-align: center;
    background-color: #ffffffa1;
    transition: .3s;
      animation: 2s cuadrado 1;
    /*animation tiempoTarda nombreAnimacion #iteraciones  */
    /* animation: 5s cuadrado infinite; */
}
.divPrincipal:hover{
  /* animation: 2s cuadrado infinite; */
}

/*       ////////// animacionnes  */
@keyframes cuadrado {
     /* 0 % 100}5 */
    /* from to  */
    /* from{
      border: 1px solid res;
    }to{
      border: 1px solid black;
    } */
0%{

}50%{
  transform: translateY(15px);
}100%{
  transform: translateY(0px);
}
}
@keyframes llave {
  0%{

  }50%{
    transform: translateX(15px);
  }100%{
    transform: translateX(0px);
  }
}
/* ---titulos --- */
.titulo{
  font-size: 100px;
  font-family: 'Rufina', serif;
  margin: 0px;
  color:black;
  transform: rotate(-0.5deg);
}
.titulo2{
    font-size: 25px;
    /* color: #f5f7f2; */
    color:black;
    text-align: center;
    margin: 0px;
}
.titulo3{
  font-size: 12px;
  text-decoration: none;
  margin: -4px 0px 18px 0px;
  /* color: #f5f7f2; */
  color:black;
  text-align: center;
}
/* Sobre mi  */
.SeccionPrincipal{
  height: 600px;
  background-color: #FFFFFF;
  display:  flex;

}

h2{
  text-align: center;
}
/* seccion Sobre mi */
section{
  grid-column: auto;
}
.titulo4{
  font-size: 55px;
  font-family: 'Lora', serif;
  margin: 0px 0px 0px 0px;
  color: #9E322A;
  padding-top: 70px;
}
.articulo{
  color: black;
  font-family:'Lora', serif;
  /* width: 350px; */
  width: auto;
  padding: 15px;
  /* border: 1px solid red; */
}
.imagen{
    width: 350px;
    height: 350px;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 22px;

}
.imagen:hover{
  background; url('../imagenes/AdaLov.jpg');
  width: 350px;
  height: 350px;
}


/* footer */

.footer{
  /* background-color: #a36d53; */
  /* background-color: #9E322A; */
background-color: #e8e9ea;
padding: 40px;

}
.footer input{
  margin: 2px;
}
.footer label{
  color: #304a5c;
  font-size: large;
  font-weight: bold;
}
/* .footer .contenedor {
    display: flex;
    justify-content: space-between;
} */
.derechos{
  background-color: #272F32;
}
.contacto{

    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.contacto a{
  text-decoration: none;
  color: #304a5c;
  margin: 10px 10px 10px 0px;
  font-size: large;
  font-weight: bold;

}

.contacto h5{
      margin: 5px;
      color: #304a5c;
      font-size: large;
      font-weight: bold;
}
.botonEnviar:hover{
 background: black;

}
.form1{

      display: inline-block;
      margin: auto;
}
.form {
  color: white;
}
.alinearFilas{
      display: grid;

}
.alinearItems{
  display: flex;
}

.titulo6{
    font-size: 16px;
    color: #e8e9ea;
    text-align: center;
    margin: auto;
}
.centrar{
  margin: auto;
  /* margin-bottom: 29px; */
}

/* Estructura General de las Sub Ventanas*/

.barraPrincipal{

height: 40px;
width: auto;
/* background-color:#9E322A; */
background-color:#304A5C;
}

section h2 .titulo4{
  text-align: center;
}


/* Botones   */
.boton{
  background-color: blue;
}
.burger-button {
  width: 20px;
  border-radius: 50%;
  line-height: 40px;
  height: 20px;
  background: #fefefebf;
  display: inline-block;
  text-align: center;
  position: absolute;
  left: 20px;
  top: 28px;
  cursor: pointer;
  z-index: 3;
}


/* Responsive Desing   */

/* Media Query para contenedor*/
@media screen and (max-width: 800px){
  .burger-button{
    display: none;
    border: 1px solid red;
  }
   .titulo{
     font-size: 75px;
   }
   .divPrincipal{
     margin-top: 8%;
     /* width: auto; */

   }
   .portada{
     height: auto;
   }
   .SeccionPrincipal{
     height: auto;
   }
   .articulo {

     text-align: center;
    /* width: auto; */
        font-size: 12px;

   }
   .titulo4{
     padding: 10px;
    font-size: 43px;
    margin: 0px;
   }
   .imagen{
     margin: auto;
     width: 250px;
    height: 250px;
   }
   .footer{
     padding-top: 10px;
   }
   .footer textarea{
     height: 50px;
   }
}

/* Para dispositivos móviles */
@media screen and (max-width: 500px){

.menu{
  position: static;
  background:rgba(210, 172, 150, 0.88);
  margin: 1px;

}

.menu li{
  margin: 0px;

  }
  .menu a{
    color:black;

   }
header{
    text-align:left;
}
.SeccionPrincipal{
  display: inline-block;
}
.titulo4{
  padding: 10px;
 font-size: 23px;
 margin: 0px;
}
.imagen{
  margin: auto;
  width: 150px;
 height: 150px;
}
.articulo{
  padding: 5px 10px 5px 10px;
  width: auto;
}
.footer{
  font-size: 12px;
}
.footer input{
  width: 195px;
  height: auto;
  margin: 2px;
}
.footer textarea{
  width: 195px;
  margin-bottom:  5px;
}

.logotipo{
  width: 114px;
  height: 50px;
}
.alinearItems{
  display: block;
}
.alinearItems a{
 margin: auto;
}
.form1{
 display: table;
 margin-top: 5px;

}
}
@media screen and (max-width:375px){

   .menu{
     /* position: absolute; */
    position: fixed;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     z-index: 2;
     display: flex;
     align-items: center;
     width: 100%;
     left: -105%;
     /* transition en cuanto tiempo quiero que se mueva 300ms o 0.3s */
     transition: 300ms;
   }
   .menu.active{
     left: 0;
   }
   .menu ul{
     padding: 0;
   }

   .menu li{
     padding: 2px 0px;
      border-bottom: 1px solid white;
      margin: 0;
      width: 100%;

      text-align: center;

   }
   .menu li:first-child{
      border-top: 1px solid white;
   }
   .menu a{
     font-size: 20px;
     color: white;
      text-shadow: 0 0 20px black;
   }
   .titulo{
     font-size: 50px;
   }
   .titulo2{
      font-size: 20px;
   }
   .titulo3{
     font-size: 10px;
   }
   .articulo p{
     font-size: 10px;
   }
   .imagen{
     width: 125px;
     height: 125px;
   }
   .alinearItems{
     display: block;
   }
  .alinearItems a{
    margin: auto;
  }
  .form1{
    display: table;
    margin-top: 5px;

  }
}

/* Iconos  */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?z1sl9a');
  src:  url('../fonts/icomoon.eot?z1sl9a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?z1sl9a') format('truetype'),
    url('../fonts/icomoon.woff?z1sl9a') format('woff'),
    url('../fonts/icomoon.svg?z1sl9a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e942";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-close:before {
  content: "\ea0d";
}
.icon-mail:before {
  content: "\ea86";
}
.icon-fb:before {
  content: "\ea91";
}
.icon-insta:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}

/*      Blog        */
.principalItem{
  height: 500px;
  margin: 10px;
  display: block;
}

.nuevoItem{
  width: 300px;
  height: 345px;
  margin: 10px;
  display: block;
}
.ordenItems{
  display: flex;
  /* para que los elementos caigan a la siguiente fila
  cuando no tienen espacio en su ancho */
  flex-wrap: wrap;
  justify-content: space-between;
}
.imagenP{
  width: 300px;
  height: 250px;
}


.textoItemPrincipal {
margin-left: 20px;
background-color: rgba(255, 255, 255, .8);
position: absolute;
bottom: 150px;
display: block;
justify-content: space-around;
align-items:flex-end;
border-radius: 6px;
padding: 4px 25px 25px 25px;
}
.textoItemPrincipal h4{
  font-size: 20px;
  color: #515151;
  margin: 20px;
}
.fecha {
  border-top: 2px solid #afa8a8;
  width: auto;
 margin: -7px;
 color: #515151;
 font-size: 14px;
}
.textoItems {
/* margin: -59px 2px 3px 2px; */
background-color: rgba(255, 255, 255, .8);
display: block;
justify-content: space-around;
align-items:flex-end;
border-radius: 6px;
padding: 4px 25px 10px 25px;
}
.textoItems a{
  color: black;
    text-decoration: none;
}


.menu a:hover{
/*           donde se ubica sombra, x, y, difuminado y color  */
  box-shadow: inset 10px 10px 30px white ;
}


/* Sobre mi  */
.contenedorParalax{
  height: 100vh;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.avatar{
  display: inline-block;
  margin-top: 150px;:
  transition: .1s;
}
