/* generales */
body{
  margin: 0px;
}
.contenedor{
  width: 800px;
  margin: auto;
  border: 1px solid red;
}
/* portada */
.portada{
  background-size: cover;
  padding: 5px;
  /* margin-bottom: 70px; */
  height: 600px;
  background-image: url('../imagenes/fondo.jpg');
  background-size: cover;
}
.logotipo{
  display: inline;
  border: 2px solid red;
  padding: 10px;
}
/* menu de navegacion */
.menu{
  padding: 5px;
  /* border: 2px solid red; */
  border-collapse: collapse;
  display: inline-block;
  right: 55px;
  position: absolute;
}
.menu li{
  display: inline-block;

}
.menu a{
font-size: 25px;
font-family: 'Lora', serif;
text-decoration: none;
color: black;
margin: 0px 25px 0px 25px;
color: #f5f7f2;
font-weight: 600;
font-family: monospace;
}

/* contenido de portada   */
.divPrincipal{
    /* border: 2px solid red; */
    /* margin: 250px 0px 0px 0px; */
    margin-top: 18%;

    text-align: center;
    background-color: #ffffffa1;
    /* padding: 56px; */
}
/* ---titulos --- */
.titulo{
  font-size: 100px;
  font-family: 'Rufina', serif;
  margin: 0px;
  color:black;
  transform: rotate(-0.5deg);
}
.titulo2{
    font-size: 25px;
    /* color: #f5f7f2; */
    color:black;
    text-align: center;
    margin: 0px;
}
.titulo3{
  font-size: 12px;
  text-decoration: none;
  margin: -4px 0px 18px 0px;
  /* color: #f5f7f2; */
  color:black;
  text-align: center;
}
/* Sobre mi  */
.SeccionPrincipal{
  height: 600px;
  background-color: #FFFFFF;

}

h2{
  text-align: center;
}
/* seccion Sobre mi */
section{
  grid-column: auto;
}
.titulo4{
  font-size: 55px;
  font-family: 'Lora', serif;
  margin: 0px 280px 0px 0px;
  color: #9E322A;
  padding-top: 70px;
}
.articulo{
  color: black;
  font-family:'Lora', serif;
}



/* footer */

.footer{
  /* background-color: #a36d53; */
  background-color: #9E322A;

}
/* .footer .contenedor {
    display: flex;
    justify-content: space-between;
} */

.contacto{

    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.contacto a{
  text-decoration: none;
  color: white;
  margin: 10px 10px 10px 0px;

}
.form1{

      display: inline-block;
      margin: auto;
}
.form {
  color: white;
}
.alinearFilas{
      display: grid;

}
.alinearItems{
  display: flex;
}

.titulo6{
  font-size: 15px;
    color: #f5f7f2;
    text-align: center;
    margin: auto;
}
.centrar{
  margin: auto;
  /* margin-bottom: 29px; */
}
/* Estructura General de las Sub Ventanas*/

.barraPrincipal{

height: 60px;
width: auto;
background-color:#9E322A;
}
