/* generales */
body{
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.contenido{
  flex: 1;

}
.contenedor{
  /* 800 a 1024 */
  max-width: 1024px;
  margin: auto;

  /* border: 1px solid red; */
}
/* portada */
.portada{
  background-size: cover;
  /* padding: 5px; */
  /* height: 500px; */
   height: 800px;
  background-size: cover;
  background-image: url('../imagenes/fondo2.jpg');
}
.logotipo{
  border: 1px solid black;
  border-radius: 9px;
  transition: .3s;
}
.logotipo:hover{
  0%{

  }50%{
    transform: translateX(15px);
  }100%{
    transform: translateX(0px);
  }
}
/* ---------------menu de navegacion----------------------- */
.menu{
  /* padding: 5px; */
  /* border: 2px solid red; */
  border-collapse: collapse;
  display: inline-block;
  /* right: 55px; */
  position: absolute;
  /* position: fixed; */
  text-align: right;
}
.menu li{
  display: inline-block;

}
.menu a{
font-size: 20px;
font-family: 'Lora', serif;
text-decoration: none;
color: black;
margin: 0px 25px 0px 25px;
color: #f5f7f2;
font-weight: 600;
font-family: monospace;
text-shadow: 0 0 20px #dddddd;

}

/* -----------------contenido de portada --------------------------  */
.divPrincipal{
    margin-top: 18%;
    /* margin-top: 25%; */
    border: 2px solid white;
    text-align: center;
    background-color: #ffffffa1;
    transition: .3s;
      animation: 2s cuadrado 1;
      height: 160px;
    /*animation tiempoTarda nombreAnimacion #iteraciones  */
    /* animation: 5s cuadrado infinite; */
}
.divPrincipal:hover{
  /* animation: 2s cuadrado infinite; */
}

/*       ////////// animacionnes  */
@keyframes cuadrado {
     /* 0 % 100}5 */
    /* from to  */
    /* from{
      border: 1px solid res;
    }to{
      border: 1px solid black;
    } */
0%{

}50%{
  transform: translateY(15px);
}100%{
  transform: translateY(0px);
}
}
@keyframes llave {
  0%{

  }50%{
    transform: translateX(15px);
  }100%{
    transform: translateX(0px);
  }
}
/* ---titulos --- */
.titulo{
  font-size: 100px;
  font-family: 'Rufina', serif;
  margin: 0px;
  /* color:black; */
  color: #004A7C;
  transform: rotate(-0.5deg);
}
.titulo2{
    font-size: 25px;
    /* color: #f5f7f2; */
    /* color:black; */
    color:#7a7777;  */gris oscuro
    text-align: center;
    margin: 0px;
}
.titulo3{
  font-size: 12px;
  text-decoration: none;
  margin: -4px 0px 18px 0px;
  /* color: #f5f7f2; */
  color:black;
  text-align: center;
}
/* Sobre mi  */
.SeccionPrincipal{
  height: 650px;
  background-color: #FFFFFF;
  display:  flex;

}

h2{
  text-align: center;
}
/* -------------------------------seccion Sobre mi------------------------------- */
section{
  grid-column: auto;
}
.titulo4{
  font-size: 55px;
  font-family: 'Lora', serif;
  margin: 0px 0px 0px 0px;
  color: #7a7777;
  padding-top: 70px;
}
.articulo{
  color: black;
  font-family:'Lora', serif;
  /* width: 350px; */
  width: auto;
  padding: 15px;
  /* border: 1px solid red; */
}
.imagen{
    width: 350px;
    height: 350px;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 22px;

}
.imagen:hover{
  background; url('../imagenes/AdaLov.jpg');
  width: 350px;
  height: 350px;
}

/*------------------------------Formacion Academica-------------------*/
.FormacionAcademica{
  height: 300px;
  background-color: #FFFFFF;
  display:  block;
  /* padding: 0px; */
}
.FormacionAcademica.contenedor{
  background-color: aliceblue;
}
/*
/*------------------------------- footer----------------------------- */

.footer{
  /* background-color: #a36d53; */
  /* background-color: #9E322A; */
/* background-color: #e8e9ea; */
background-color:  #000000;
padding: 40px;
height: 300px;
}
.footer input{
  margin: 2px;
}
.footer label{
  color: #F2F2F2;
  font-size: large;
  font-weight: bold;
}
.redesSociales{
  text-align: center;
  padding-left: 0px;

}
.redesSociales li{
  display: inline-block;
}
/* .footer .contenedor {
    display: flex;
    justify-content: space-between;
} */

.contacto{

    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.contacto a{
  text-decoration: none;
  color: #F2F2F2;
  margin: 10px 10px 10px 0px;
  font-size: large;
  /* font-weight: bold; */

}


.contacto h5{
      margin: 5px;
      color: #F2F2F2;
      font-size: large;
      font-weight: bold;
}
.botonEnviar:hover{
 background: black;

}
.form1{

      display: inline-block;
      margin: auto;
}
.form {
  color: white;
}
.alinearFilas{
      display: grid;

}
.alinearItems{
  display: flex;
}

.titulo6{
    font-size: 16px;
    color: #e8e9ea;
    text-align: center;
    margin: auto;
}
.centrar{
  margin: auto;
  /* margin-bottom: 29px; */
}

/* -------------------------------------------------------------------
----------------------------Estructura General de las Sub Ventanas----*/

.barraPrincipal{

height: 40px;
width: auto;
background-color:#004A7C;
width: -webkit-fill-available;
}

section h2 .titulo4{
  text-align: center;
}


/* Botones   */
.boton{
  background-color: blue;
}
.burger-button {
  width: 20px;
  border-radius: 50%;
  line-height: 40px;
  height: 20px;
  background: #fefefebf;
  display: inline-block;
  text-align: center;
  position: absolute;
  left: 20px;
  top: 28px;
  cursor: pointer;
  z-index: 3;
}

.bredessociales{
  height: 20px;
  cursor: pointer;
  color: #004A7C;
  font-size: 35px;
  padding: 0px 20px 0px 20px;
}




/* Iconos  */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?z1sl9a');
  src:  url('../fonts/icomoon.eot?z1sl9a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?z1sl9a') format('truetype'),
    url('../fonts/icomoon.woff?z1sl9a') format('woff'),
    url('../fonts/icomoon.svg?z1sl9a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e942";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-close:before {
  content: "\ea0d";
}
.icon-mail:before {
  content: "\ea86";
}
.icon-fb:before {
  content: "\ea91";
}
.icon-insta:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}

/*  ----------------------------------- -------------------
----------------------   Blog ------------- ------------------------------      */
.titleBlog {
  display: none;
}
.principalItem{
  height: 500px;
  margin: 10px;
  display: block;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.nuevoItem{
  width: 300px;
  height: 345px;
  margin: 10px;
  display: block;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
.ordenItems{
  display: flex;
  /* para que los elementos caigan a la siguiente fila
  cuando no tienen espacio en su ancho */
  flex-wrap: wrap;
  justify-content: space-between;
}
.imagenP{
  width: 295px;
  height: 246px;
  margin: 2px;
}


.textoItemPrincipal {
margin-left: 20px;
background-color: rgba(255, 255, 255, .8);
position: relative;
bottom: 150px;
display: block;
justify-content: space-around;
align-items:flex-end;
border-radius: 6px;
padding: 4px 25px 25px 25px;
width: 380px;
}
.textoItemPrincipal h4{
  font-size: 20px;
  color: #515151;
  margin: 20px;
}
.fecha {
  border-top: 2px solid #afa8a8;
  width: auto;
 margin: -7px;
 color: #515151;
 font-size: 14px;
}
.textoItems {
/* margin: -59px 2px 3px 2px; */
background-color: rgba(255, 255, 255, .8);
display: block;
justify-content: space-around;
align-items:flex-end;
border-radius: 6px;
padding: 4px 25px 10px 25px;
}
.textoItems a{
  color: black;
    text-decoration: none;
}


.menu a:hover{
/*           donde se ubica sombra, x, y, difuminado y color  */
  box-shadow: inset 10px 10px 30px white ;
}


/* Sobre mi  */
.contenedorParalax{
  height: 100vh;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.avatar{
  display: inline-block;
  margin-top: 150px;:
  transition: .1s;
}
/*  -----------------------------------------------------------------
--------------------------------------------------Portafolio----------------*/
.contenedorP{
  margin-top: 20px;
  /* 800 a 1024 */
  display: grid;
  /* tama침o de columna tama침ocol2 tamcol3*/
  /* grid-template-columns: 200px 200px 200px; */
  /* dinamico */

  /* grid-template-columns: 25% 200px 25%; */
  /*  300px 300px*/
  /* grid-template-rows: 100px 125px; */

  /* grid-template: filas/columnas;/ */
  /* grid-template: 300px 100px 100px/ 100%; */

  /* border: 1px solid red; */
  /* grid-template: 100px 100px/repeat(3, minmax(200px,1fr));
  grid-gap:10px;
  grid-template-areas: "inicio inicio inicio"
                       "left contenido contenido"
                       "fin fin fin"; */
  /* grid-template-columns: repeat(7,1fr);
  grid-template-rows: (repeat (5,1fr)); */

  /* grid-template-columns:/**/
  /* 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
                    /* [nombre de linea]  */
  grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr [c4] 1fr [c5] 1fr [c6]  1fr [c7] 1fr [c8];
  /* grid-template-rows: [f1] 100px [f2] 100px [f3] 100px [f4] 100px [f5] ; */
  grid-template-rows: [f1] 1fr [f2] 1fr [f3] 1fr [f4] 1fr [f5] ;
  grid-gap:5px;
  height: 100vh;
  width: 150vh;
  /* grid-template-areas: "first first first first first first first"
                       "first first first first first first first"
                       "first first first first first first first"
                       "second second second thirt thirt fourt fourt"
                       "second second second thirt thirt five six"; */


}

.item{
  background: white;
  /* padding: 10px; */
  border: 1px solid red;
  display: grid;
  /* grid-template: 100px 100px/50% 22% 22% ; */
  /* grid-template: 100px 100px/1fr 1fr 1fr; */
  /* grid-template: 100px 100px/repeat(3, 1fr); */

  /* grid-column-gap: 30px;
  grid-row-gap: 50px; */
  /* grid-gap:filas columnas */

}
.itemS .itemS{
  background: yellow;
}
.item:nth-of-type(1){
  /* background-image: url("../imagenes/pbit.jpg"); */
  /* grid-column-start: 1;
  grid-column-end: 8; */
  /*  */
  /* grid-row-start: 1; */
  /* grid-row-end: 4; */
  /* grid-row: linea en la que inicia /   #espacios q ocupa
  grid-row: 1/span 3;*/

  grid-column: c1/c8;
  grid-row: f1/f4;
}
.imagen1{
  width: 500px;
  height: 500px;
}
.item:nth-of-type(2){
  /* background: red;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6; */

  grid-column: c1/c4;
  grid-row: f4/f6;
}
.item:nth-of-type(3){
  /* background: yellow;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6; */
  grid-column: c4/c6;
  grid-row: f4/f6;
}
.item:nth-of-type(4){
  /* background: yellow;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 5; */
  grid-column: c6/c8;
  grid-row: f4/f5;
}
.item:nth-of-type(5){
  /* background: yellow;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6; */
  grid-column: c6/c7;
  grid-row: f5/f6;
}
.item:nth-of-type(6){
  /* background: yellow;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 5;
  span:1; */

  grid-column: c7/c8;
  grid-row: f5/f6;
}
.itemP:nth-of-type(1){
  background: blue;
  display: inline-grid;
  /* grid-template: 300px/1000px; */
  /* grid-template: 300px/repeat(3, minmax(200px,1fr)); */

/* } */
/*-----------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/
/* Responsive Desing   */
.portadaSimple{
  height: 35px;
}
.imageOne{
 width:1000px;
}
/* Media Query para contenedor*/
@media screen and (max-width: 800px){
  .burger-button{
    display: none;

  }
   .titulo{
     font-size: 75px;
   }
   .divPrincipal{
     margin-top: 15%;
     height: 140px;
     /* width: auto; */

   }
   .portada{
     height: 350px;
   }
   .SeccionPrincipal{
     height: auto;
     margin: 30px;
   }
   .articulo {

     text-align: center;
    /* width: auto; */
        font-size: 12px;

   }
   .titulo4{
     padding: 10px;
    font-size: 43px;
    margin: 0px;
   }
   .imagen{
     margin: auto;
     width: 250px;
    height: 250px;
   }
   .footer{
     padding-top: 10px;
   }
   .footer textarea{
     height: 50px;
   }
   .alinearItems {
     margin-top: 5%;
     margin-bottom: 5%;
   }
   /* BLOG */
   .imageOne{
    width:700px;
   }

   .principalItem{
     height: 330px;
   }
   .nuevoItem{
     width: 340px;
   }

   .imagenP{
     width: 335px;
     height: 246px;
     margin: 2px;
   }

}

/* Para dispositivos m칩viles */
@media screen and (max-width: 500px){

.menu{
  position: static;
  background: #004A7C;

}

.menu li{
  margin: 0px;

  }
  .menu a{
    color: white;

   }
header{
    text-align:left;
}
.SeccionPrincipal{
  display: inline-block;
}
.titulo4{
  padding: 10px;
 font-size: 23px;
 margin: 0px;
}
.imagen{
  margin: auto;
  width: 150px;
 height: 150px;
}
.articulo{
  padding: 5px 10px 5px 10px;
  width: auto;
}
.footer{
  font-size: 12px;
  height: 360px;
}
.footer input{
  width: 195px;
  height: auto;
  margin: 2px;
}
.footer textarea{
  width: 195px;
  margin-bottom:  5px;
}
.contacto h5 {
  text-align: center;
}
.logotipo{
  width: 114px;
  height: 50px;
}
.alinearItems{
  display: block;
}
.alinearItems a{
 margin: auto;
}
.form1{
 display: table;
 margin-top: 5px;

}
.imageOne {
  width: 450px;
}
.textoItemPrincipal{
  bottom: 100px;
  padding: 1px 12px 15px 13px;

}
.principalItem {
  height: 230px;
}
.SeccionPrincipal {
  margin: 10px;
}
.nuevoItem{
  margin: auto;
  margin-bottom: 5px;
}

}
@media screen and (max-width:375px){

   .menu{
     /* position: absolute; */
    position: fixed;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     z-index: 2;
     display: flex;
     align-items: center;
     width: 100%;
     left: -105%;
     /* transition en cuanto tiempo quiero que se mueva 300ms o 0.3s */
     transition: 300ms;
     background: #004a7cf2;
   }
   .menu.active{
     left: 0;
   }
   .menu ul{
     padding: 0;
   }
   .barraPrincipal{
     height: 345px;
   }

   .menu li{
     padding: 2px 0px;
      border-bottom: 1px solid white;
      margin: 0;
      width: 100%;

      text-align: center;

   }
   .menu li:first-child{
      border-top: 1px solid white;
   }
   .menu a{
     font-size: 20px;
     color: white;
      text-shadow: 0 0 20px black;
   }
   .titulo{
     font-size: 50px;
   }
   .titulo2{
      font-size: 20px;
   }
   .titulo3{
     font-size: 10px;
   }
   .articulo p{
     font-size: 10px;
   }
   .imagen{
     width: 125px;
     height: 125px;
   }
   .alinearItems{
     display: block;
   }
  .alinearItems a{
    margin: auto;
  }
  .form1{
    display: table;
    margin-top: 5px;

  }
  .portadaSimple{
    height: 75px;
    background-color: #004a7c;
  }

  .titleBlog {
    display: block;
    text-align: center;
    color: #fefefe;
    font-size: 25px;
}
  .imageOne {
    width: 345px;
    height: 246px;
    margin: 2px;
}
.principalItem {
    height: 330px;
    width: 345px;
}
.textoItemPrincipal {
    bottom: 15px;
    padding: 1px 12px 15px 13px;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0);
    width: 308px;
}
.textoItemPrincipal h4 {
  font-size: 18px;
  color: #004a7c;
  margin: 20px;
  text-decoration-line: underline;
}
.textoItems a {
  color: #004a7c;
}
.burger-button{
    display: inline-block;
}

user agent stylesheet
h4 {
}





.contenedor.productos.peque침o
<div class="contenedor productos mediano"> ...</div>
<div class="contenedor productos grande"> ... </div>
